<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Trivia!</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body>
  <header>
    <a href="/"><img src="/img/logo.png" alt="logo" class="logo"></a>
    <h1>Trivia Fun</h1>

    <nav>
      <a href="/quiz">Quiz</a> |
      <a href="/questions">Questions</a>
    </nav>
  </header>

  {{{body}}}
</body>
</html>
